<!DOCTYPE html>
<html>
  <head>
    <title>FORMULARIO DE CONTACTO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="form">
<form action="#" method="POST">
<P>Nombre</P>
<label for="nombre">su nombre</label>
<br>
<input type="text" name="nombre" placeholder="Nombre" required>

<p>Correo</p>
<label for="correo">Direccion de correo</label>
<br>
<input type="email" name="correo" placeholder="alguien@algo.com">

<p>Mensaje</p>
<label for="mensaje">su mensaje</label>
<br>
<textarea name="mensaje" placeholder="Mensaje" required></textarea>
<br>
 <br>
 <input type="submit" value="enviar">
</form>
  </div>
  </body>
</html>
